In [1]:
import pandas as pd 
url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
mapa = {
    "home":"Principal",
    "how_it_works":"Como_funciona",
    "contact":"contato",
    "bought":"comprou"
}
dados = dados.rename(columns=mapa)

In [7]:
#se for apenas 1 coluna nao precisa [[]], apenas []. 
x = dados[["Principal","Como_funciona","contato"]] 
x.head()

   Principal  Como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [9]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [6]:
#Quantidade dos dados
dados.shape[0]

99

In [25]:
treino_x = x[:75]
treino_y = y[:75]
teste_x=x[75:]
teste_y=y[75:]
print("Treinaremos com {} elementos e testaremos com {}  elementos".format(treino_x.shape[0],teste_x.shape[0]))

Treinaremos com 75 elementos e testaremos com 24  elementos

In [26]:
from sklearn.svm import LinearSVC
modelo = LinearSVC()
#treinando em cima dos dados
modelo.fit(treino_x,treino_y)
previsoes =modelo.predict(teste_x)

In [38]:
from sklearn.metrics import accuracy_score
taxa_de_acerto = accuracy_score(teste_y,previsoes)*100
print("taxa de acerto de %.2f"%taxa_de_acerto)

taxa de acerto de 95.83

In [48]:
# faz o treino e o teste 
from sklearn.model_selection import train_test_split
SEED = 20
treino_x,teste_x,treino_y,teste_y = train_test_split(x,y,test_size=0.25,random_state=SEED) #pegando os dados inteiros e fazendo teste com apenas 25% 
 
print("Treinaremos com {} elementos e testaremos com {}  elementos".format(treino_x.shape[0],teste_x.shape[0]))

Treinaremos com 74 elementos e testaremos com 25  elementos

In [49]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
#treinando em cima dos dados
modelo.fit(treino_x,treino_y)
previsoes =modelo.predict(teste_x)
taxa_de_acerto = accuracy_score(teste_y,previsoes)*100
print("taxa de acerto de %.2f"%taxa_de_acerto)

taxa de acerto de 96.00

In [50]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [51]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [52]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
SEED = 20
treino_x,teste_x,treino_y,teste_y = train_test_split(x,y,test_size=0.25,random_state=SEED,stratify=y) #stratify separa proporcionalmente
print("Treinaremos com {} elementos e testaremos com {}  elementos".format(treino_x.shape[0],teste_x.shape[0]))

modelo = LinearSVC()
#treinando em cima dos dados
modelo.fit(treino_x,treino_y)
previsoes =modelo.predict(teste_x)
taxa_de_acerto = accuracy_score(teste_y,previsoes)*100
print("taxa de acerto de %.2f"%taxa_de_acerto)

Treinaremos com 74 elementos e testaremos com 25  elementos
taxa de acerto de 96.00

In [54]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [55]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64